<html lang="fr">
<head>
  <meta charset="utf-8">
</head>
<body>
  <p>Merci de vous être pré-inscrit aux 9es Rencontres Moustic qui auront lieu du 29 au 31 mars.</p>

  <p>Voici le récapitulatif des données saisies :</p>
  <ul>
    <li>Prénom : <?php echo $bf_titre;?></li>
    <li>Nom : <?php echo $bf_nom;?></li>
    <li>Mail : <?php echo $bf_mail;?></li>
  </ul>
  <p>Nous vous recontacterons prochainement pour que vous puissiez finaliser votre inscription. Pour toute question, n'hésitez pas à nous contacter à <a href='mailto:contact@moustic.info'>contact@moustic.info</a>.</p>
</body>
</html>
